server {
        root {{ salt['pillar.get']('aptly:rootdir') }}/public;
        # server_name {{ salt['pillar.get']('aptly:server_name') }};

        server_name {{ grains['fqdn'] }};

        location / {
                autoindex on;
        }
}
